

#bodycompleto{
    background-image: url("./images/BG\ 01.jpg");
   font-family: "Basquerville", "arial";
   font-style: bold;
display: grid;
grid-template-areas: 
"header header header"
"main main main"
"footer footer footer";
}

header {
    grid-area: header;
}

.elementosCabecera {
    display: flex;
    border-radius: 5px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.divlogo img{ 
 width: 120px;
 height: 85px;
 margin-left: 480px;
 
}

#barraNav {

    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around, flex-start;
}

#barraNav li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    text-align: left;
   padding: 0.2em;
    border: none;
    
}

#barraNav li a:hover{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    text-align: left;
  padding: 8px 7px 8px 7px;
    border: 1px solid #ccc;
}

#barraNav li{
    font-style: normal;
    list-style-type: none;
    list-style-position: outside;
    font-size: 20px;
    text-align: left;
    align-content: space-around;
    padding: 8px 7px 8px 7px;
    display:inline;

}

main { 
grid-area: main;
margin: 0px;
max-width: 1230px;
padding-left: 0px;}

.fotoPrincipal{
display: flex;
justify-content: space-around;
margin-top: 5px;
height: 435px;
}

.fotoPrincipal img{
width: 1280px;
height: 445px;
margin-left: 0px;

}

.tituloImagenPrincipal {
    font-family: "Basquerville", "arial";
   font-style: bold;
   font-size: 50px;
   color: blanchedalmond;
 position: absolute;
}

.tituloImagenPrincipal h1 {
    margin-left: 0px;
    margin-right: 120px;
    row-gap: 0.1em;
    
}

.design h1{
    margin-top: 5px;
    margin-inline: 200px;

}   

footer {
width: 1225;
height: 100px;
font-size: 25px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: 
"redesicons contactoGral"

}

.footerElementos {
  color: blanchedalmond;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  }

.redesicons {
grid-area: footer;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
list-style: none;
gap: 1em;
}

.redesicons a img {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 15px;
    list-style: none;
}

.contactoGral {
    grid-area: footer;
    display: flex;
    padding-left: 10px;
}

.contactoGral p {
    font-family: "Basquerville", "arial";
    color:  blanchedalmond;
    font-size: 20px;
margin-left: 800px;


}    

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
}

.gallery img{
    width: 590px;
    height: 300px; 
}

.gallery a{
    text-decoration: none;
} 

.gallery a:hover{
    text-decoration: none;
    filter: brightness(0.9);
    cursor: pointer; 
} 
    
/* services page */

.servicesBody {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.textoServices{
  font-family: "Basquerville", "arial";
    font-style: bold;
    color: blanchedalmond;
    font-size: 3em; 
    display: flex;
    justify-items: flex-start;

}

.servicesBody iframe {
    display: flex;
    justify-items: center;
    padding: 1em;

}

/* usando Grid*/

.aboutMe {
margin: 3px 3px 3px 0px;
padding-top: 15px;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr;
grid-template-areas: 
"asideIzq asideDer"

} 


 .asideIzq {
    grid-area: asideIzq;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.aboutStory{
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 50px;
    color: blanchedalmond;
    align-items: flex-start;
}

.aboutparrafo {
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 35px;
    color: blanchedalmond;
}

.asideDer {
    display: grid;
    grid-area: asideDer;
    grid-template-columns: repeat(2, 1rf);
    grid-template-areas: 
    " img img";
}

.bancoImg:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: img;
}
.bancoImg:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
    grid-area: img;
}
.bancoImg:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: img;
}
.bancoImg:nth-of-type(4){
    grid-column: 2/3;
    grid-row: 2/3;
    grid-area: img;
}

.aboutMe img {
    margin-right:0px;
   width: 360px;
   height: 203px;
 
}

.contactTitulo {
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 70px;
    color: blanchedalmond;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
}

.ContactForm {
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 20px;
    color: blanchedalmond;
    margin-left: 35px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: 
    "formularioIzq formularioDerecho";
}

input#nombre {
    width: 500px;
    height: 25px;
    padding-bottom: 5px;
}

input#email{
    width: 500px;
    height: 25px;
    padding-bottom: 5px;
}

input#telefono{
    width: 500px;
    height: 25px;
    padding-bottom: 5px;
}

input#website {
    width: 500px;
    height: 25px;
    padding-bottom: 5px;

}


div#formularioIzq {
    grid-area: formularioIzq;
    padding-bottom: 10px;

}

div#formularioDerecho {
    grid-area: formularioDerecho;
    display: flex;
    padding-bottom: 10px;

}

textarea {
    width: 500px;
    height: 150px;
}

.SubmitEnviar {
    border: none;
}

.SubmitEnviar input {
    width: 150px;
    height: 50px;
    border-radius: 10px;
   margin-left: 340px;
   
}

/* inicio  mobile */

@media screen and (max-width: 600px) {

    #bodycompleto{ 
        height: 620px;
        width: 520px;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
"header"
"main"
"footer"

    }

    #backgroundMobileOnly {
        background-image: url("./images/averie-woodard-5d20kdvFCfA-unsplash.jpg");
   background-size: cover;
   z-index: 1;

    }

    header {
        width: 520px;
        height: 350px;
    }

  .elementosCabecera {
        display: flex;
        grid-area: header;
        height: 100%;
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .divlogo img{ 
        width: 60px;
        height: 42px;
        width: 8em;
        height: 8em;
        position:absolute;
        margin: 1em;
        display: flex;
        justify-content: flex-start;

    }

    #barraNav li a{
    display: flex;
    flex-direction: column;
        text-align: center;
        justify-content: center;
        border: none;
        padding: 0.1em;
    }

    #barraNav li a:hover{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color:  #ccc;
        border-radius: 5px;
        color: black;
        padding: 0.1em;
    }

main {
grid-area: main;
justify-content: center;
padding: 1em;
width: 400px;
}

.fotoPrincipal img{
    height: 100%;
}
    .tituloImagenPrincipal {
       display: flex;
        flex-wrap: wrap;
        gap: 0.1em;
       font-size: 1em;
       position: absolute;
       margin-inline-start: 80px;
    }
     
    .design {
        margin-inline: 100px;
    }   

    /* footer mobile*/

    footer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: 40px;
        grid-template-areas: 
        "redesicons"
        "contactoGral"
        }

      .footerElementos{
        display: flex;
        flex-direction: column;
        justify-content: center,space-around;
      }

      .redesicons {
      grid-area: footer;
display: flex;
justify-content: center;
gap: 1em;

      }
      .redesicons a img {
        width: 30px;
        height: 30px;
        margin: 3px;
        border-radius: 10px;
        list-style: none;
      }

      .contactoGral{
        grid-area: footer;  
        display: flex;
        justify-content: center;
      }
      
      .contactoGral p {
        font-family: "Basquerville", "arial";
        color:  blanchedalmond;
        font-size: 10px;
        margin-left: 50px;

      }
/* page about me mobile */

    .aboutMe {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "asideIzq"
        "asideDer"
    }
    .asideIzq {
        grid-area: asideIzq;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;    
}
.aboutStory {
    height: 40px;
    font-size: 3em;
    display: flex;
    align-content: flex-start;
}

.aboutparrafo {
    height: 1em; 
    font-size: 1.5em;  
}

.asideDer {
    display: grid;
    height: 50%;
    grid-area: asideDer;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    " img"
    " img"
    " img"
    " img"
}
.asideDer picture {
    display: flex;
    justify-content: center;
}

.bancoImg:nth-of-type(1){
    grid-row: 1/2;
    grid-area: img;
    
}
.bancoImg:nth-of-type(2){
    grid-row: 2/3;
    grid-area: img;

}
.bancoImg:nth-of-type(3){
    grid-row: 3/4;
    grid-area: img;
  
}
.bancoImg:nth-of-type(4){
    grid-row: 4/5;
    grid-area: img;

}

/* gallery mobile*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* Services mobile page*/

.servicesBody {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 520px;

}

.textoServices {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.servicesBody iframe {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 520px;
    height: 420px;
    padding: 1em;

}



/* Contact mobile page*/

.contactMain {
   width: 450px;
   
}

.contactTitulo {
    font-size: 50px;
}
.ContactForm {
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 1em;
    width: 510px;
    color: blanchedalmond;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "formularioIzq"
    "formularioDerecho";
}
.formularioIzq {
    grid-area: formularioIzq;
    height: 200px;
    max-width: 500px;

}

.formularioDerecho {
    grid-area: formularioDerecho;
    max-width: 500px;
}

}



/* fin mobile */






        



   






